<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iit.lmanohara.appoinmentmanagementsystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="iit.lmanohara.appoinmentmanagementsystem.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="iit.lmanohara.appoinmentmanagementsystem.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="iit.lmanohara.appoinmentmanagementsystem.CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name="iit.lmanohara.appoinmentmanagementsystem.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name="iit.lmanohara.appoinmentmanagementsystem.DeleteActivity"
            android:label="@string/title_activity_delete" >
        </activity>
        <activity
            android:name="iit.lmanohara.appoinmentmanagementsystem.MoveActivity"
            android:label="@string/title_activity_move" >
        </activity>
        <activity
            android:name="iit.lmanohara.appoinmentmanagementsystem.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="iit.lmanohara.appoinmentmanagementsystem.TranslatorActivity"
            android:label="@string/title_activity_translator" >
        </activity>
        <activity
            android:name="iit.lmanohara.appoinmentmanagementsystem.PrefActivity"
            android:label="@string/title_activity_pref" >
        </activity>
    </application>

</manifest>